html {
  background-color: #0074D9; 
      margin: auto;
	  max-width: 1000px;

}

ul {
	position: fixed;
    top: 0;
    width: 100%;
	max-width: 1000px;


    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
	    float: left;

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
		border-right: 1px solid #bbb;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}



a {
    display: block;
    padding: 10px;
	min-width: 100px;
		max-width: 200px;


}

img {
	display: block;
	height: 200px;
	width: 600px;
	margin: auto;
	padding: 25px;

}

body {     width: 100%;
	max-width: 1000px;
}

#Intro {

    background-color: green;
	/* border-radius: 25px; */
	margin: 0px;
	padding: 25px;


/*     height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
 */}

h1{
	font-family: Garamond, san serif;
	font-size: 28px;
}

p {
	font-family: Garamond, serif;
	font-size: 18px;
}

